<div class="footer">
  <% for(let item of theme.footer){ %>
    <div class="footer-more">
      <% if (item.path) { %>
        <a href="<%- item.path %>"><%- item.name %></a>
      <% } else { %>
        <%- item.name %>
      <% } %>  
    </div>
  <% } %>
  <!-- analysis -->
  <% if (theme.analysis.enable && !is_post()){ %>
    <div id="busuanzi_container_site_pv" style="display: none;">
      Total views: <span id="busuanzi_value_site_pv"></span>. 
      Total visitors: <span id="busuanzi_value_site_uv"></span>. 
    </div>
  <% } %>
  <!-- duration -->
  <div id="timeDate"></div>
  <%- js(['/js/duration.js']) %>
</div>
